*{
  z-index: 10;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
    height: 100%;
    
}

body{
    height: 100%;
    font-size: 15px;
    background: linear-gradient(180deg, #0a1623 80%, #fff 80%);
  
    /* parallax scrolling effect */
     background-attachment: fixed;
}


#main_div{
   margin-top: 200px;
   color: rgb(91, 103, 116);
}

#About_div, #Live_div{
    display: none;
}

#progress_s ,#choice_s{
  position: fixed;
  background-color: rgba(189, 220, 255, 0.356);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1050;
  font-size: 60px;
}

#progress_s .spinner-border{
  margin: auto;
  width: 10rem;
  height: 10rem;
}

#choice_s .card{
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  min-width: 400px;
}

#choice_s i{
  color: #02c041;
  margin-left: 78%;
}

header{
    color: white; 
    background-color:#0a1520; 
    min-width: 240px;
    padding: 20px 5px;
}

.navbar{
  color: white;
  background-color:#0e1e30; 
  min-width: 240px;
}

.navbar a{
  border-bottom: 3px solid #0e1e30;
}

.navbar a:hover {
  border-bottom: 3px solid #00d548;
}

.navbar a .active_a{
  border-bottom: 3px solid #00d548;
}

#serch_input{
  width: 20vw;
  min-width: 115px;
  
} 

span{
  color: #00d548;
}

#h1_container{
  text-align: center;
  width: 100%; 
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}

#h1_container h1{
  margin-bottom: -10px;
}


.colored-line {
  background: #00d548;
  background-color: rgb(0, 213, 72);
  height: 3px;
  width: 120px;
  display: block;
  margin: auto;
}

/*SWITCH:*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  a{
  max-height: 40px;
  }

#Home_div .card-parent{
  grid-column-gap: 50px;
  padding: 0;
  margin-bottom: auto;
  overflow: hidden;
  border: 1px solid #00d548;
  border-radius:30px 30px 30px 30px;
  max-width: 400px;
}

#Home_div .card .card-body{
  margin: 0;
  width: 100%;
}

#Home_div .card img{
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  
}

#Home_div .card-title{
  text-align: center;
  border-bottom: 0;
  width: 100%;
  height: 35%;
  margin-top: -2px;
  background-color: #071623;
}

#Home_div a{
  color: rgb(65, 65, 65);
}

.myCollapse{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.waitingToPush{
  background-color: red;
}

#About_div .card{
 max-width: 100%;
}

@media only screen and (max-width: 576px) {
  #main_div{
    margin-top: 280px;
 }
}

@media only screen and (max-width: 400px) {
  #choice_s .card-parent{
    min-width: 200px;
  }
}